.card {
  padding: 10px 0px;
  width: 370px;
  max-height: 326px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 0px 4px rgba(20, 20, 20, 0.1), 0px 8px 15px rgba(20, 20, 20, 0.12);
  border-radius: 6px;
}

.buttonContainer {
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}

.gutter {
  padding-left: 15px;
  padding-right: 15px;
  height: 20px;
  display: flex;
  align-items: center;
}

.line {
  width: 100%;
  border: 0.7px solid rgba(205, 205, 205, 1);
}

.wrapper {
  max-height: 164px;
  overflow-y: scroll;
}